<%= simple_form_for user, html: { class: "user form" } do |f| %>
  <% if user.errors.any? %>
    <div class="error-message">
      <%= user.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <div class="welcome">
  <%= f.input :email, placeholder: 'email', input_html: { autofocus: true } %>
  </div>
  <div class="welcome">
  <%= f.association :roles, as: :check_boxes %>
  </div>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
